*{
  margin:0;
  paddin:0;
  box-sizing:border-box;
  font-family: sans-serif;
}

.container{
  height: 300px;
  margin:40px auto;
  width:500px;
  background:#d8d8d8;
  text-align: center;
  padding:30px;
}




